@use 'src/styles/constants/colors';

.heartRate {
  display: flex;
  flex-wrap: wrap-reverse;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  .dataAverage {
    font-size: 2rem;
    font-weight: 700;
    color: colors.$GRAPH_TEXT_GRAY;
    white-space: nowrap;

    span {
      margin-right: 0.5rem;
      color: colors.$PRIMARY;
    }
  }
}
