@use '/src/styles/constants/colors';

.heartRateWrapper {
  margin: 20px 0 40px;
}

.dataAverage {
  font-size: 2rem;
  font-weight: 600;
  color: colors.$GRAPH_TEXT_GRAY;

  span {
    margin-left: 25px;
    color: colors.$GRAPH_TEXT;
  }
}
