@use 'src/styles/constants/colors';

.stepData {
  display: flex;
  flex-wrap: wrap-reverse;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  .totalStep {
    margin-right: 30px;
    font-size: 20px;
    font-weight: 500;
    color: colors.$GRAPH_TEXT_GRAY;
    white-space: nowrap;

    span {
      margin-right: 5px;
      color: colors.$PRIMARY;
    }
  }
}
