@use '/src/styles/constants/colors';

.stepDataWrapper {
  display: flex;
  flex-direction: column;
  margin: 40px 0 20px;
}

.stepData {
  display: flex;
  flex-direction: column;
  // justify-content: space-around;
}

.totalStep {
  font-size: 2rem;
  // font-weight: 700;

  span {
    margin-left: 25px;
    color: colors.$GRAPH_TEXT;
  }
}
