@use '/src/styles/constants/colors';

.stepDataWrapper {
  display: flex;
  flex-direction: column;
  margin: 40px 0 20px;
}

.totalStep {
  font-size: 2rem;
  font-weight: 600;
  color: colors.$GRAPH_TEXT_GRAY;

  span {
    margin-left: 25px;
    color: colors.$GRAPH_TEXT;
  }
}
