$PRIMARY: #586cf5;
$SECONDARY_01: #e5f4fd;

$ACTIVATED_BTN: #8593ff;
$BIG_TITLE: #1f315b;

// MONO
$WHITE: #ffffff;
$BLACK: #2c2c2e;
$GREY_50: #edeff1;
$GREY_100: #d1d8dc;
$GREY_300: #94a2ad;
$GREY_800: #3a474e;
$BG_G: #f6f7f8;

$SHADOW: #00000026 0 1px 2px;
$GRAPH_TEXT_GRAY: #39474e;

// Popup
$SUCCESS: #34c759;
$ERROR: #ff9500;
$INFO: #007aff;
$SUB_MESSAGE: #aaabb0;

// Chromatic
$RED: #ff3b30;
