$ACTIVATED_BTN: #8593ff;
$TASKS_TITLE: #8f99bf;
$TASK_ITEM_TITLE: #4f566f;

$PRIMARY: #586cf5;
$WHITE: #ffffff;
$BLACK: #2c2c2e;

$GREY_10: #f5f5f5;
$GREY_50: #edeff1;
$GREY_100: #d1d8dc;
$GREY_300: #94a2ad;
$GREY_800: #3a474e;
$BG_G: #f6f7f8;
$GRAYD: #dddddd;
$GRAYA: #aaaaaa;

$SHADOW: rgb(0 0 0 / 15%) 0 0.1rem 0.2rem;

$RED: #ff0000;

$GRAPH_TEXT: #586cf5;
$GRAPH_TEXT_GRAY: #39474e;
// Popup

$SUCCESS: #20a779;
$ERROR: #f0a92d;
$INFO: #007bc3;
$SUB_MESSAGE: #aaabb0;

// login
$PLACEHOLDER_TEXT: #bfbfbf;

$BUTTON: #2b303e;
$BUTTON_OPACITY: #edeff1;
$BUTTON_COLOR: #94a2ad;
