$GRAPH_01: #4fadf7;
$GRAPH_02: #85da47;

$ACTIVATED_OPTION: #f0f4ff;
$ACTIVATED_BTN: #8593ff;
$ACTIVATED_BTN_SHADOW: #dee1ff;
$BIG_TITLE: #1f315b;
$TASKS_TITLE: #8f99bf;
$TASK_ITEM_TITLE: #4f566f;

$PRIMARY: #586cf5;
$WHITE: #ffffff;
$SECONDARY_01: #e5f4fd;
$GREY_10: #f5f5f5;
$GREY_50: #edeff1;
$GREY_100: #d1d8dc;
$GREY_300: #94a2ad;
$GREY_800: #3a474e;
$BG_G: #f6f7f8;
$TABLE_HEADER_ROW: #94a2ad;
$GRAYD: #dddddd;
$GRAYA: #aaaaaa;

$DROPBOX_SHADOW: 0 3px 6px -4px rgb(0 0 0 / 12%), 0 6px 16px 0 rgb(0 0 0 / 8%), 0 9px 28px 8px rgb(0 0 0 / 5%);

$TRIANGLE_UP: #ff0000;
$TRIANGLE_DOWN: #85da47;

$GRAPH_TEXT: #036fc2;
