@use '/src/styles/constants/colors';

.whiteBoxWrapper {
  width: 100%;
  padding: 4rem;
  margin-top: 2rem;
  background-color: colors.$WHITE;
  border-radius: 20px;
  box-shadow: 0 4px 10px 0 #0000000a;
}
