@use '/src/styles/constants/colors';
@use '/src/styles/constants/sizes';

.whiteBoxWrapper {
  width: 100%;
  padding: 40px;
  margin-top: 20px;
  background-color: colors.$WHITE;
  border-radius: sizes.$BORDER_RADIUS;
  box-shadow: 0 4px 10px 0 #0000000a;
}
