@use 'src/styles/constants/colors';

.navWrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 2rem;
  font-size: 1.3rem;
  font-weight: 800;

  a {
    color: colors.$GREY_800;
  }

  p {
    margin: 0 0.5rem;
    color: colors.$GREY_800;
  }

  .isActive {
    color: colors.$PRIMARY;
  }
}

.titleWrapper {
  margin-top: 4rem;

  h2 {
    margin-bottom: 3rem;
    font-size: 2rem;
    font-weight: 800;
    color: colors.$GREY_800;
  }
}

.tableWrapper {
  margin-bottom: 4rem;

  table {
    width: 100%;
    font-size: 1.4rem;

    th {
      padding: 1rem 0;
      color: colors.$GREY_300;
      border-top: 1px solid colors.$GREY_50;
      border-bottom: 1px solid colors.$GREY_50;
    }

    input {
      height: 3rem;
      margin-left: 1rem;
      font-size: 1.4rem;
      font-weight: 200;
      color: colors.$BLACK;
      text-indent: 1rem;
      border: 0.1rem solid colors.$GREY_50;
      border-radius: 0.7rem;
    }

    td {
      padding: 1rem 0;
      font-weight: 800;
      color: colors.$GREY_800;
      text-align: center;
    }
  }
}

.graphWrapper {
  display: flex;
  flex-direction: column;

  > :first-child {
    margin-bottom: 4rem;
  }
}
