@use 'src/styles/constants/colors';
@use '/src/styles/constants/sizes';

.titleWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
  margin-bottom: 20px;

  h2 {
    font-size: sizes.$LARGE;
    font-weight: sizes.$BOLD;
    color: colors.$GREY_800;
  }

  .navWrapper {
    display: flex;
    justify-content: flex-end;
    font-size: sizes.$SMALL;

    a {
      color: colors.$GREY_800;
    }

    p {
      margin: 0 0.5rem;
      color: colors.$GREY_800;
    }

    .isActive {
      color: colors.$PRIMARY;
    }
  }
}

.tableWrapper {
  table {
    width: 100%;
    font-size: 1.4rem;

    th {
      padding: 1rem 0;
      color: colors.$GREY_300;
      border-top: 1px solid colors.$GREY_50;
      border-bottom: 1px solid colors.$GREY_50;
    }

    td {
      padding: 1rem 0;
      font-weight: 800;
      color: colors.$GREY_800;
      text-align: center;
    }
  }
}

.graphWrapper {
  display: flex;
  flex-direction: column;

  > :first-child {
    margin: 2rem 0 0;
  }
}
