@use '/src/styles/constants/colors';
@use '/src/styles/mixins/flexbox';

.wrapper {
  @include flexbox.flexbox(start, center);
  position: fixed;
  min-width: 175px;
  padding: 7.5px 9.5px;
  border-radius: 3px;
  box-shadow: rgba(99, 99, 99, 20%) 0 1.25px 5px 0;

  .tagContainer {
    position: absolute;
    left: 1.25px;
    width: 1.5px;
    height: 70%;
    border-radius: 2px;
  }

  svg {
    width: 13px;
    height: 13px;
    margin-right: 5px;
  }

  .messageContainer {
    @include flexbox.flexbox(start, start);
    flex-direction: column;

    span {
      font-size: 6px;
    }

    .subMessage {
      font-size: 5px;
      color: colors.$SUB_MESSAGE;
    }

    span + span {
      margin-top: 1.88px;
    }
  }

  &.topRight {
    top: 22px;
    right: 22px;
  }

  &.topLeft {
    top: 22px;
    left: 22px;
  }

  &.bottomRight {
    right: 22px;
    bottom: 22px;
  }

  &.bottomLeft {
    bottom: 22px;
    left: 22px;
  }

  &.success {
    .tagContainer {
      background-color: colors.$SUCCESS;
    }

    svg {
      fill: colors.$SUCCESS;
    }
  }

  &.error {
    .tagContainer {
      background-color: colors.$ERROR;
    }

    svg {
      fill: colors.$ERROR;
    }
  }

  &.info {
    .tagContainer {
      background-color: colors.$INFO;
    }

    svg {
      fill: colors.$INFO;
    }
  }
}
