@use '/src/styles/constants/colors';
@use '/src/styles/mixins/flexbox';

.wrapper {
  @include flexbox.flexbox(start,center);
  position: fixed;
  min-width: 280px;
  padding: 12px 15px;
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 20%) 0 2px 8px 0;

  .tagContainer {
    position: absolute;
    left: 3px;
    width: 2.5px;
    height: 70%;
    border-radius: 3px;
  }

  svg {
    width: 18px;
    height: 18px;
    margin-right: 8px;
  }

  .messageContainer {
    @include flexbox.flexbox(start,start);
    flex-direction: column;

    span {
      font-size: 11px;
      font-weight: 600;
    }

    .subMessage {
      font-size: 8px;
      font-weight: 500;
      color: colors.$SUB_MESSAGE;
    }

    span + span {
      margin-top: 3px;
    }
  }

  &.topRight {
    top: 35px;
    right: 35px;
  }

  &.topLeft {
    top: 35px;
    left: 35px;
  }

  &.bottomRight {
    right: 35px;
    bottom: 35px;
  }

  &.bottomLeft {
    bottom: 35px;
    left: 35px;
  }

  &.success {
    .tagContainer {
      background-color: colors.$SUCCESS;
    }

    svg {
      fill: colors.$SUCCESS;
    }
  }

  &.error {
    .tagContainer {
      background-color: colors.$ERROR;
    }

    svg {
      fill: colors.$ERROR;
    }
  }

  &.info {
    .tagContainer {
      background-color: colors.$INFO;
    }

    svg {
      fill: colors.$INFO;
    }
  }
}
