@use '/src/styles/constants/colors';
@use '/src/styles/constants/sizes';

.titleWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;

  h2 {
    font-size: sizes.$LARGE;
    font-weight: sizes.$BOLD;
    color: colors.$GREY_800;
  }

  .navWrapper {
    display: flex;
    justify-content: flex-end;
    font-size: sizes.$SMALL;

    a {
      color: colors.$GREY_800;
    }

    p {
      margin: 0 0.5rem;
      color: colors.$GREY_800;
    }

    .isActive {
      color: colors.$PRIMARY;
    }
  }
}

.linkWrapper {
  display: flex;
  font-size: 1.3rem;
  font-weight: 700;
}

.link {
  margin-right: 0.5rem;
  color: colors.$GREY_800;
}

.activeLink {
  margin-left: 0.5rem;
  color: colors.$PRIMARY;
}
