@use '/src/styles/constants/colors';
@use '/src/styles/constants/sizes';

.titleWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 40px;
  margin-bottom: 20px;

  h2 {
    font-size: sizes.$LARGE;
    font-weight: sizes.$BOLD;
    color: colors.$GREY_800;
  }

  .navWrapper {
    display: flex;
    justify-content: flex-end;
    font-size: sizes.$SMALL;

    a {
      color: colors.$GREY_800;
    }

    p {
      margin: 0 5px;
      color: colors.$GREY_800;
    }

    .isActive {
      color: colors.$PRIMARY;
    }
  }
}
