.memberWrapper {
  display: flex;
  flex-direction: column;
  padding: 3rem 0;
}

.titleWrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;

  .title {
    font-size: 2.6rem;
    font-weight: 700;
    color: #3a474e;
  }

  .route {
    font-size: 1.4rem;
  }
}
