@use 'src/styles/constants/colors';

.dashboardWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 100px);

  svg {
    width: 50px;
    height: 50px;
    fill: colors.$GREY_100;
  }
}
