@use '/src/styles/constants/colors';
@use '/src/styles/mixins/flexbox';

.layoutWrapper {
  width: 100vw;
  overflow: scroll;

  .mainWrapper {
    position: absolute;
    left: 320px;
    width: calc(100% - 320px);
    @include flexbox.columnFlexbox;
    min-width: 1080px;
    min-height: 100vh;
    padding: 60px 40px 40px;
    background-color: colors.$BG_G;
  }
}
