@use '/src/styles/constants/colors';
@use '/src/styles/mixins/flexbox';

.layoutWrapper {
  display: flex;
  width: 100vw;
  overflow: scroll;

  .mainWrapper {
    @include flexbox.columnFlexbox;
    flex-grow: 1;
    min-width: 1080px;
    min-height: 100vh;
    padding: 60px 40px 40px;
    overflow: hidden;
    background-color: colors.$BG_G;
  }
}
