@use '/src/styles/constants/colors';
@use '/src/styles/mixins/flexbox';

.headerWrapper {
  @include flexbox.flexbox('end');
  padding: 2rem 0;
  border-bottom: 1px solid colors.$GREY_50;

  .iconWrapper {
    margin: 0 1.7rem;
  }

  .iconDot {
    position: absolute;
    top: 0;
    right: 1.3rem;
  }

  > p {
    font-size: 1.4rem;
    color: colors.$GREY_800;
  }

  > div {
    position: relative;
  }
}
