@use '/src/styles/mixins/flexbox';
@use '/src/styles/constants/colors';
@use '/src/styles/constants/sizes';
@use '/src/styles/mixins/visual';

.wrapper {
  position: relative;
  width: max-content;

  .optionsWrapper {
    @include flexbox.flexbox('center', 'center');
    width: fit-content;

    .dateInputWrapper {
      @include flexbox.flexbox('center', 'center');
      background-color: colors.$WHITE;
      border: 0.1rem solid colors.$GREY_100;
      border-radius: sizes.$BORDER_RADIUS;

      &:hover,
      &.active {
        border: 0.1rem solid colors.$ACTIVATED_BTN;
      }

      .dateInput {
        font-size: sizes.$REGULAR;
        line-height: 3.5rem;
        color: colors.$GREY_800;
        text-align: center;
        cursor: pointer;
      }

      .arrowDown {
        width: 2.4rem;
      }

      &.invalidated {
        border: 0.1rem solid colors.$RED;
      }
    }

    .btn {
      @include visual.btnActive;
      margin-left: 0.5rem;
      line-height: 2.2;
    }
  }

  .monthsWrapper {
    @include flexbox.flexbox('evenly', 'center');
    position: absolute;
    right: 0;
    z-index: 100;
    width: 66rem;
    height: 38rem;
    padding: 3rem;
    margin-top: 1rem;
    font-size: sizes.$SMALL;
    background-color: colors.$WHITE;
    border-radius: sizes.$BORDER_RADIUS;
    box-shadow: colors.$SHADOW;
  }
}
