@use '/src/styles/mixins/flexbox';
@use '/src/styles/constants/colors';
@use '/src/styles/constants/sizes';
@use '/src/styles/mixins/visual';

.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: max-content;

  .label {
    margin-right: 8px;
    font-size: 16px;
    color: colors.$GREY_800;
  }

  .optionsWrapper {
    position: relative;
    @include flexbox.flexbox('center', 'center');
    background-color: colors.$WHITE;
    border: 1px solid colors.$GREY_100;
    border-radius: sizes.$BORDER_RADIUS;

    &:hover,
    &.active {
      border: 1px solid colors.$ACTIVATED_BTN;
    }

    &.invalidated {
      border: 1px solid colors.$RED;
      border-radius: sizes.$BORDER_RADIUS;
    }

    .dateInputWrapper {
      @include flexbox.flexbox('center', 'center');

      .dateInput {
        width: 150px;
        font-size: sizes.$REGULAR;
        line-height: 35px;
        color: colors.$GREY_800;
        text-align: center;
        cursor: pointer;
      }

      .calendarIcon {
        position: relative;
        top: -1px;
        height: 15px;
        margin-left: 10px;
        fill: colors.$GREY_100;
      }

      .arrowDown {
        width: 24px;
        margin-right: 5px;
        fill: colors.$GREY_800;
      }

      &.invalidated {
        border: 1px solid colors.$RED;
        border-radius: sizes.$BORDER_RADIUS;
      }
    }
  }

  .monthsWrapper {
    position: absolute;
    top: 35px;
    right: 0;
    z-index: 100;
    display: flex;
    width: 780px;
    height: 380px;
    padding: 30px;
    margin-top: 10px;
    font-size: sizes.$SMALL;
    background-color: colors.$WHITE;
    border-radius: sizes.$BORDER_RADIUS;
    box-shadow: colors.$SHADOW;

    .monthsCalendar {
      @include flexbox.flexbox('evenly', 'center');
    }

    .monthsButton {
      display: flex;
      flex-direction: column;
      padding-right: 28px;
      border-right: 1px solid #d1d8dc;

      .btn {
        padding: 0 10px;
        margin-top: 10px;
        font-size: sizes.$SMALL;
        line-height: 35px;
        color: colors.$GREY_800;
        white-space: nowrap;
        transition: all ease 0.2s;

        &:first-of-type {
          margin-top: 0;
        }
      }

      .clickedButton {
        color: colors.$PRIMARY;
      }
    }
  }
}
