@use 'src/styles/mixins/flexbox';
@use '/src/styles/constants/colors';

.wrapper {
  .dateInput {
    border: 0.1rem solid black;
  }

  .monthsWrapper {
    @include flexbox.flexbox('evenly', 'center');
  }

  .btn {
    padding: 0.5rem;
    color: colors.$WHITE;
    background-color: colors.$PRIMARY;
  }
}
