@use '/src/styles/constants/colors';
@use '/src/styles/constants/sizes';
@use '/src/styles/mixins/flexbox';

.sideBarWrapper {
  @include flexbox.flexbox(between, around, col);
  width: 320px;
  min-width: 320px;
  max-width: 320px;
  min-height: 100vh;
  padding: 60px 40px;
  box-shadow: colors.$SHADOW;

  .upperWrapper {
    .userInfo {
      display: flex;
      align-items: center;
      width: 100%;
      padding-bottom: 40px;
      margin-bottom: 20px;
      font-size: sizes.$MEDIUM;
      border-bottom: 1px solid colors.$GREY_50;

      .userName {
        margin: 1px 0 0 15px;
        line-height: 1.2;
        text-transform: uppercase;

        p:first-of-type {
          font-weight: 500;
          color: colors.$GREY_800;
          text-transform: uppercase;
          // letter-spacing: sizes.$LETTER_SPACING;
        }

        p:last-of-type {
          font-size: 12px;
          color: colors.$GREY_100;
          color: colors.$GREY_300;
          letter-spacing: sizes.$LETTER_SPACING;
        }
      }
    }

    .underLine {
      margin: 55px 0;
      border-bottom: 1px solid colors.$GREY_50;
    }

    .box {
      @include flexbox.columnFlexbox(13px);

      a {
        @include flexbox.flexbox(start, center);
        gap: 10px;
        padding: 20px;
        font-size: sizes.$REGULAR;
        line-height: 20px;
        color: colors.$GREY_800;
        letter-spacing: sizes.$LETTER_SPACING;
        border-radius: sizes.$BORDER_RADIUS;
        transition: 200ms;

        svg {
          fill: colors.$GREY_800;
        }
      }

      .isActive {
        color: colors.$PRIMARY;
        background-color: colors.$GREY_50;

        svg {
          fill: colors.$PRIMARY;
        }
      }
    }
  }

  .logout {
    display: flex;
    gap: 5px;
    font-size: sizes.$SMALL;
    color: colors.$GREY_300;
    transition: 200ms;

    svg {
      fill: colors.$GREY_300;
    }

    &:hover {
      color: colors.$ACTIVATED_BTN;

      svg {
        fill: colors.$ACTIVATED_BTN;
      }
    }
  }
}
