@use 'src/styles/constants/colors';
@use 'src/styles/mixins/flexbox';

.sideBarWrapper {
  @include flexbox.flexbox('between', 'stretch');
  flex-direction: column;
  width: 32rem;
  min-width: 30rem;
  height: 100vh;
  padding: 6rem 4rem;
  box-shadow: 0.4rem 0 1rem 0 #0000000a;

  .userInfo {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 20px 0;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
  }

  .userName {
    margin-left: 15px;
  }

  > img {
    width: 13rem;
  }

  .underLine {
    margin: 5.5rem 0;
    border-bottom: 0.1rem solid colors.$GREY_50;
  }

  .box {
    @include flexbox.columnFlexbox(1.3rem);

    a {
      @include flexbox.flexbox(start, center);
      gap: 1.2rem;
      height: 6rem;
      padding: 2rem;
      font-size: 1.7rem;
      font-weight: 700;
      color: colors.$GREY_800;
      border-radius: 1rem;
      transition: 200ms;

      svg {
        fill: colors.$GREY_800;
      }
    }

    .logoutContainer {
      position: absolute;
      bottom: 5rem;
      display: flex;
      justify-content: space-between;
      width: 80px;
      margin-left: 20px;

      .logout {
        font-size: 1.5rem;
        color: colors.$GREY_300;
      }
    }

    .isActive {
      color: colors.$PRIMARY;
      background-color: colors.$GREY_50;

      svg {
        fill: colors.$PRIMARY;
      }
    }
  }
}
