@use '/src/styles/constants/colors';
@use '/src/styles/constants/sizes';
@use '/src/styles/mixins/visual';

.searchForm {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .inputWrapper {
    display: flex;
  }

  .inputSubWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1.5rem;
    white-space: nowrap;

    > p {
      margin-right: 1rem;
      font-size: sizes.$REGULAR;
      font-weight: sizes.$SEMIBOLD;
      color: colors.$GREY_800;
    }

    > input {
      width: 10rem;
      padding: 0 1.5rem;
      font-size: 1.6rem;
      line-height: 3.5rem;
      color: colors.$GREY_800;
      background-color: colors.$WHITE;
      border: 0.1rem solid colors.$GREY_100;
      border-radius: 10px;

      &:hover {
        border: 0.1rem solid colors.$ACTIVATED_BTN;
      }
    }
  }

  .btnWrapper {
    display: flex;

    .submitBtn {
      @include visual.btnActive;
      margin-left: 0.5rem;
      color: colors.$WHITE;
      background-color: colors.$ACTIVATED_BTN;
      border-color: colors.$ACTIVATED_BTN;

      &:hover {
        background-color: colors.$PRIMARY;
        border-color: colors.$PRIMARY;
      }
    }
  }
}
