.searchWrapper {
  padding: 20px;

  > h1 {
    font-size: 20px;
    font-weight: 700;
  }
}

.searchForm {
  display: flex;
  padding: 30px;
}

.inputWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 30px;

  > p {
    margin-right: 20px;
    font-size: 14px;
  }

  > input {
    width: 130px;
    padding: 10px 20px;
    font-size: 12px;
    border: 1px solid #d1d8dc;
    border-radius: 10px;
  }
}
