@use '/src/styles/constants/colors';
@use '/src/styles/constants/sizes';

@mixin btnActive {
  padding: 0 20px;
  font-size: sizes.$REGULAR;
  line-height: 35px;
  color: colors.$GREY_800;
  white-space: nowrap;
  border: 1px solid colors.$GREY_100;
  border-radius: sizes.$BORDER_RADIUS;
  transition: all ease 0.2s;

  &:hover {
    color: colors.$WHITE;
    background-color: colors.$ACTIVATED_BTN;
    border-color: colors.$ACTIVATED_BTN;
  }
}
