@use 'src/styles/constants/colors';
@use 'src/styles/constants/sizes';
@use 'src/styles/mixins/flexbox';

.wrapper {
  position: absolute;
  top: 3rem;
  margin: 1rem;

  &.left {
    left: 3rem;
  }

  &.right {
    right: 3rem;
  }

  .calendarHead {
    @include flexbox.flexbox(center, center);
    position: relative;
    margin-bottom: 3rem;

    .arrowBtn {
      position: absolute;
      width: 3rem;
      height: 3rem;
      background-color: colors.$GREY_100;
      border-radius: 50%;

      &.left {
        left: 0;
      }

      &.right {
        right: 0;
      }

      .arrow {
        width: 2.4rem;
      }
    }

    .monthOfCalendar {
      font-size: 1.4rem;
      color: colors.$GREY_300;
    }
  }

  .weekdaysRow {
    margin-top: 0.1rem;

    .weekday {
      width: 3rem;
      height: 3rem;
      margin: 0.5rem;
      color: colors.$GREY_300;
    }
  }

  .allDatesOfAMonth {
    margin: 0.4rem;
    text-align: center;

    .day {
      .dateBtn {
        @include flexbox.flexbox(center, center);
        width: 3rem;
        height: 3rem;
        margin: 0.5rem;
        color: colors.$GREY_800;
        border-radius: 50%;

        &.otherMonth {
          color: colors.$WHITE !important;
          pointer-events: none !important;
          background: colors.$WHITE !important;
        }

        &.selectedDate {
          color: colors.$WHITE;
          background-color: colors.$PRIMARY;
        }

        &.betweenDate {
          background-color: colors.$GREY_50;
        }
      }
    }
  }
}
